[submodule "extern/grackle/grackle_repo"]
	path = extern/grackle/grackle_repo
	url = https://github.com/grackle-project/grackle
[submodule "extern/h5zzfp/zfp"]
	path = extern/h5zzfp/zfp
	url = https://github.com/LLNL/zfp.git
