[submodule "extern/grackle/grackle_repo"]
	path = extern/grackle/grackle_repo
	url = https://github.com/grackle-project/grackle
[submodule "physics/nuclear-networks"]
	path = physics/nuclear-networks/SPH-EXA-nnet
	url = https://github.com/jolatechno/SPH-EXA-nnet.git
